.auth {
	width: 450px;
	max-width: 95%;
	margin: 35px auto;
	border: 1px solid #ccc;
	min-height: 250px;
	text-align: right;
	direction: rtl;
	position: relative;
}

	
label {
	display: block;
	margin: 5px;
}

.login {
    border-left: 1px solid #ccc;
    padding: 0 10px;
}
.validationError {
	color: red;
	display: block;
}
.register {
    padding: 0 10px;
}


.login, .register {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.authFooter {
	display: flex;
	flex-direction: column;
	margin: 25px auto;
}

.logout {
	width: 35px;
	cursor: pointer;
}
