.authBlock {
	display: flex;
	width: 700px;
	max-width: 95%;
	border: 1px solid #ccc;
	padding: 5px;
	margin: 25px auto;
	min-height: 250px;
	justify-content: space-between;
}

label {
	display: block;
	margin: 5px;
}

.login {
    width: 50%;
    border-left: 1px solid #ccc;
    padding: 0 10px;
}
.validationError {
	color: red;
	display: block;
}
.register {
    width: 50%;
    padding: 0 10px;
}


.login, .register {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.authFooter {
	display: flex;
	flex-direction: row-reverse;
}

.logout {
	width: 35px;
	cursor: pointer;
}
