 @import "auth.css";
 @import "select.css";
 @import "panel.css";
 @import "modal.css";
 @import "task.css";
 @import "form.css";
 @import url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css');

body {
	font-family: "Shabnam", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;;
}
 .navbar {
	background-color: #444;
	color: white;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.navbar h1 {
	font-size: 20px;
}

